* {
    background-color: black;
}

.info {
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.welcome_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.opensans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h1 {
    font-weight: 1,5;
    font-size: 400%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
}

p {
    font-weight: lighter;
    font-size: 220%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
}

/* Button Style */

* {
	align-items: center;
}

.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
	font-family: "Product Sans", Arial, sans-serif;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}
.btn:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}
